<h1>Cadastro</h1>
<hr>
<p>Usuario novo? cadastre-se abaixo!</p>
<form name="form1" action="controllerForm" method="post">

<input type="text" name="name" id="name" placeholder="Name:"><br>
<input type="text" name="user" id="user" placeholder="Usuario:"><br>
<input type="text" name="email" id="email" placeholder="E-mail:"><br>
<input type="text" name="password" id="password" placeholder="Senha:"><br>
<input type="submit" name="btSubmit" id="btSubmit" value="Cadastrar"><br>

</form>