<h1>Login</h1>
<hr>
<p>Faça seu login abaixo!</p>
<form id="form1" name="form1" action="controllerLogin" method="post" onsubmit="return valida_form(this)">

<input type="text" name="email" id="email" placeholder="E-mail ou Usuario:"><br>
<input type="password" name="password" id="password" placeholder="Senha:"><br>
<input type="submit" name="btSubmit" id="btSubmit" value="Login"><br>

</form>